# Arquivo de segredos e configurações de ambiente. NUNCA ENVIE PARA O GITHUB!
.env

# Pasta de dependências. Pode ser recriada com 'npm install'.
node_modules/

# Arquivo do banco de dados SQLite. 
# Geralmente não se envia o banco de dados em si, apenas as migrações/seeds.
database/database.sqlite

# Logs de erro e debug do NPM
npm-debug.log*
*.log

# Arquivos de sistema operacional
.DS_Store
Thumbs.db